/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
}

.fullscreen {
  height: 100%;
  width: 100%;
  margin: auto;
}

.centerText {
  text-align: center;
}

.overMe {
  z-index: 1;
}
