#navBar {
  height: 90%;
  width: 180px;
  background-color: darken(white, 20%);
  position: fixed;
  clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
}

#navbarScreen {
  position: absolute;
}

#deleteWindow {
  font-size: 15px;
  width: fit-content;
  height: fit-content;
  // margin-left: 5%;
  margin-top: 50%;
}

#deleteBtn {
  position: absolute;
  top: 77.5%;
  left: 7%;
}
