$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  accent: #fff6bb,
  dark: lighten(black, 40%)
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

#bg {
  background-color: color(primary-light);
  width: 100%;
  height: 100%;
  position: absolute;
}

#gameView {
  margin-top: 20px;

  #window {
    // clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    margin-top: 10px;
    width: 90%;
    height: 750px;
    margin: auto;
    padding: 2px;
    background-color: black;
    #create {
      height: 99%;
      width: 100%;
      background-color: white;
      opacity: 1;
      text-align: center;

      #createBtn {
        position: relative;
        top: 60%;
        height: 100px;
        width: 300px;
        font-size: 32px;
      }

      .creationWindow {
        height: 100%;
        width: 100%;
        background-color: color(dark);
        .createBox {
          height: 80%;
          width: 60%;
          top: 40px;
          z-index: 1;
          margin: auto;
          position: relative;
          border: 1px solid black;
          background-color: white;
        }
      }
    }
  }
}
