<!-- <div @expand id="window">
  <div @fade *ngIf="view" id="view" (onkeydown)="scrollFunc($event)">
    <div class="" id="exploration">
      <div class="" id="move">
        <app-character></app-character>
      </div>
      <div *ngIf="!defeated" id="testMonster"></div>
      <div>
        <button (click)="moveLeft()" class="btn btn-info mobileBtn">
          <<
        </button>
        <button
          (click)="moveRight()"
          class="btn btn-info mobileBtnRight mobileBtn"
        >
          >>
        </button>
      </div>
    </div>
  </div>
</div> -->
