#window {
  margin-top: 10px;
  width: 90%;
  height: -webkit-fill-available;
  margin: auto;
  border-style: ridge;
  border-radius: 20px;
  position: relative;

  padding: 2px;
  background-color: white;
  #view {
    height: 100%;
    width: 100%;
    // background-image: url("../../../assets//images/exploreBG.jpg");
  }
}
