#head {
  width: 35px;
  height: 30px;
  background: url(../../../assets/images/pack.png) -30px -225px;
}
#hand-right {
  width: 35px;
  height: 30px;
  background: url(../../../assets/images/pack.png) -40px -225px;
}
#chest {
  width: 35px;
  height: 30px;
  margin-top: -8px;
  background: url(../../../assets/images/pack.png) -222px -225px;
}
#legs {
  width: 35px;
  height: 30px;
  margin-top: -8px;
  background: url(../../../assets/images/pack.png) -318px -225px;
}
